.We{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.colu{
    float: left;
    width: 50%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}